### Data-2

In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [28]:
data_2 = pd.read_csv('../DataSet/Screening/Autism adults/csv_result-Autism-Adult-Data.csv')

In [29]:
data_2

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,0,0,1,1,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,2,1,1,0,1,0,0,0,1,0,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,3,1,1,0,1,1,0,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,4,1,1,0,1,0,0,1,1,0,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,5,1,0,0,0,0,0,0,1,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,700,0,1,0,1,1,0,1,1,1,...,f,White-European,no,no,Russia,no,7,18 and more,Self,YES
700,701,1,0,0,0,0,0,0,1,0,...,m,Hispanic,no,no,Mexico,no,3,18 and more,Parent,NO
701,702,1,0,1,1,1,0,1,1,0,...,f,?,no,no,Russia,no,7,18 and more,?,YES
702,703,1,0,0,1,1,0,1,0,1,...,m,South Asian,no,no,Pakistan,no,6,18 and more,Self,NO
703,704,1,0,1,1,1,0,1,1,1,...,f,White-European,no,no,Cyprus,no,8,18 and more,Self,YES

In [30]:
data_2.drop('id', axis=1, inplace=True)

In [31]:
display(data_2)

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,f,White-European,no,no,Russia,no,7,18 and more,Self,YES
700,1,0,0,0,0,0,0,1,0,1,...,m,Hispanic,no,no,Mexico,no,3,18 and more,Parent,NO
701,1,0,1,1,1,0,1,1,0,1,...,f,?,no,no,Russia,no,7,18 and more,?,YES
702,1,0,0,1,1,0,1,0,1,1,...,m,South Asian,no,no,Pakistan,no,6,18 and more,Self,NO
703,1,0,1,1,1,0,1,1,1,1,...,f,White-European,no,no,Cyprus,no,8,18 and more,Self,YES

#### Converting binary categorial variable to numerical variables

In [32]:
data_2['gender'].replace(['f','m'], [0,1] ,inplace=True)
data_2['jundice'].replace(['no','yes'], [0,1] ,inplace=True)
data_2['austim'].replace(['no','yes'], [0,1] ,inplace=True)
data_2['used_app_before'].replace(['no','yes'], [0,1] ,inplace=True)
data_2['Class/ASD'].replace(['NO','YES'], [0,1] ,inplace=True)

In [33]:
data_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,White-European,0,0,United States,0,6,18 and more,Self,0
1,1,1,0,1,0,0,0,1,0,1,...,1,Latino,0,1,Brazil,0,5,18 and more,Self,0
2,1,1,0,1,1,0,1,1,1,1,...,1,Latino,1,1,Spain,0,8,18 and more,Parent,1
3,1,1,0,1,0,0,1,1,0,1,...,0,White-European,0,1,United States,0,6,18 and more,Self,0
4,1,0,0,0,0,0,0,1,0,0,...,0,?,0,0,Egypt,0,2,18 and more,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,White-European,0,0,Russia,0,7,18 and more,Self,1
700,1,0,0,0,0,0,0,1,0,1,...,1,Hispanic,0,0,Mexico,0,3,18 and more,Parent,0
701,1,0,1,1,1,0,1,1,0,1,...,0,?,0,0,Russia,0,7,18 and more,?,1
702,1,0,0,1,1,0,1,0,1,1,...,1,South Asian,0,0,Pakistan,0,6,18 and more,Self,0
703,1,0,1,1,1,0,1,1,1,1,...,0,White-European,0,0,Cyprus,0,8,18 and more,Self,1

In [34]:
data_2['relation'].unique()

array(['Self', 'Parent', '?', 'Health care professional', 'Relative',
       'Others'], dtype=object)

In [38]:
data_2['age'] = data_2['age'].apply(lambda x: int(x) if str(x).isdigit() else None)

In [40]:
data_2['ethnicity'].unique()

array(['White-European', 'Latino', '?', 'Others', 'Black', 'Asian',
       'Middle Eastern ', 'Pasifika', 'South Asian', 'Hispanic',
       'Turkish', 'others'], dtype=object)

In [41]:
print("Counting ? values\n")
print(data_2.isin(['?']).sum(axis=0))

Counting ? values

A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 0
gender              0
ethnicity          95
jundice             0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation           95
Class/ASD           0
dtype: int64

In [42]:
print(data_2.isna().sum(axis=0))

A1_Score           0
A2_Score           0
A3_Score           0
A4_Score           0
A5_Score           0
A6_Score           0
A7_Score           0
A8_Score           0
A9_Score           0
A10_Score          0
age                2
gender             0
ethnicity          0
jundice            0
austim             0
contry_of_res      0
used_app_before    0
result             0
age_desc           0
relation           0
Class/ASD          0
dtype: int64

In [43]:
data_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,White-European,0,0,United States,0,6,18 and more,Self,0
1,1,1,0,1,0,0,0,1,0,1,...,1,Latino,0,1,Brazil,0,5,18 and more,Self,0
2,1,1,0,1,1,0,1,1,1,1,...,1,Latino,1,1,Spain,0,8,18 and more,Parent,1
3,1,1,0,1,0,0,1,1,0,1,...,0,White-European,0,1,United States,0,6,18 and more,Self,0
4,1,0,0,0,0,0,0,1,0,0,...,0,?,0,0,Egypt,0,2,18 and more,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,White-European,0,0,Russia,0,7,18 and more,Self,1
700,1,0,0,0,0,0,0,1,0,1,...,1,Hispanic,0,0,Mexico,0,3,18 and more,Parent,0
701,1,0,1,1,1,0,1,1,0,1,...,0,?,0,0,Russia,0,7,18 and more,?,1
702,1,0,0,1,1,0,1,0,1,1,...,1,South Asian,0,0,Pakistan,0,6,18 and more,Self,0
703,1,0,1,1,1,0,1,1,1,1,...,0,White-European,0,0,Cyprus,0,8,18 and more,Self,1

#### Filling missing values

In [44]:
data_2['relation'].mode()

0    Self
dtype: object

In [45]:
data_2['ethnicity'].mode()

0    White-European
dtype: object

In [46]:
data_2['ethnicity'] = data_2['ethnicity'].replace('?','White-European')
data_2['relation'] = data_2['relation'].replace('?','Self')

In [47]:
print(data_2.isnull().any().any())
print(data_2.isnull().sum().sum())

True
2

In [48]:
data_2['relation'].unique()

array(['Self', 'Parent', 'Health care professional', 'Relative', 'Others'],
      dtype=object)

In [49]:
data_2['age'].unique()

array([ 26.,  24.,  27.,  35.,  40.,  36.,  17.,  64.,  29.,  33.,  18.,
        31.,  30.,  34.,  38.,  42.,  43.,  48.,  37.,  55.,  50.,  53.,
        20.,  28.,  21., 383.,  47.,  32.,  44.,  nan,  19.,  58.,  45.,
        22.,  39.,  25.,  23.,  54.,  60.,  41.,  46.,  56.,  61.,  59.,
        52.,  49.,  51.])

In [50]:
data_2['age'].fillna(data_2['age'].mean(),inplace = True)

In [51]:
data_2['ethnicity'].unique()

array(['White-European', 'Latino', 'Others', 'Black', 'Asian',
       'Middle Eastern ', 'Pasifika', 'South Asian', 'Hispanic',
       'Turkish', 'others'], dtype=object)

In [52]:
data_2.columns[data_2.isna().any()].tolist()

[]

In [53]:
print(data_2.isnull().any().any())
print(data_2.isnull().sum().sum())

False
0

In [54]:
data_2['relation'].unique()

array(['Self', 'Parent', 'Health care professional', 'Relative', 'Others'],
      dtype=object)

In [55]:
data_2['age'].unique()

array([ 26.       ,  24.       ,  27.       ,  35.       ,  40.       ,
        36.       ,  17.       ,  64.       ,  29.       ,  33.       ,
        18.       ,  31.       ,  30.       ,  34.       ,  38.       ,
        42.       ,  43.       ,  48.       ,  37.       ,  55.       ,
        50.       ,  53.       ,  20.       ,  28.       ,  21.       ,
       383.       ,  47.       ,  32.       ,  44.       ,  29.6980057,
        19.       ,  58.       ,  45.       ,  22.       ,  39.       ,
        25.       ,  23.       ,  54.       ,  60.       ,  41.       ,
        46.       ,  56.       ,  61.       ,  59.       ,  52.       ,
        49.       ,  51.       ])

In [56]:
data_2['ethnicity'].unique()

array(['White-European', 'Latino', 'Others', 'Black', 'Asian',
       'Middle Eastern ', 'Pasifika', 'South Asian', 'Hispanic',
       'Turkish', 'others'], dtype=object)

#### DataFrame to CSV

In [58]:
data_2.to_csv('../DataSet/Screening/Autism adults/new_csv_result-Autism-Adult-Data.csv')