In [1]:
import pandas as pd
import numpy as np
import os
import cv2
from ast import literal_eval
import matplotlib.pyplot as plt

In [5]:
dir = "../DataSet/Images/Autistic/"
data = pd.DataFrame(columns= ['Images'])
for filename in os.listdir(dir):
    f = os.path.join(dir, filename)
    if os.path.isfile(f):
        img = cv2.imread(f)
        df = pd.DataFrame({'Images' : [[img]], 'Class/ASD' :  1})
        frame = [data,df]
        data = pd.concat(frame)

In [6]:
dir = "../DataSet/Images/Non_Autistic/"
for filename in os.listdir(dir):
    f = os.path.join(dir, filename)
    if os.path.isfile(f):
        img = cv2.imread(f)
        dic = {'Images' : [[img]], 'Class/ASD' : 0}
        df = pd.DataFrame(dic)
        frame = [data,df]
        data = pd.concat(frame)

In [7]:
data.to_csv('../DataSet/Images/data.csv')

In [6]:
data.head()

                                              Images  Class/ASD
0  [[[[ 29 108 165], [ 27 106 163], [ 26 105 162]...        1.0
0  [[[[221 211 223], [213 206 219], [202 200 212]...        1.0
0  [[[[178 252 252], [176 252 255], [168 246 255]...        1.0
0  [[[[250 253 251], [249 252 250], [247 250 248]...        1.0
0  [[[[ 69 122  78], [ 69 124  75], [ 67 125  71]...        1.0

In [8]:
data = pd.read_csv('../DataSet/Images/data.csv')